#form {
    margin: 0 auto;
	width: 300px;
	max-width: 300px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    border: 1px solid #CCC;
    background: none;
    margin: 0 0 5px;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    max-width: 100%;
}

button[type="submit"] {
    cursor: pointer;
    width: 100%;
    border: none;
    background: #6BABA1;
    color: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    border-radius: 5px;
}